*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.site-title{
    font-size: 1.5rem;
}
.menu-trigger{
    /* same as site title  */
    font-size:1.5rem;
    cursor: pointer;
}
@media (min-width:600px){
    .menu-trigger{
        display: none;
    }
}

#masthead {
    background-color:#bb652d;
    /* display: flex; */
}
.masthead-inner {
    /* max-width: 80%;
    margin: auto; */
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    list-style: none;
    position: fixed;
    top:0;
    right:0;
    background-color: crimson;
    box-shadow: 3px 0 10px 1px gray;
    width:60vw;
    height:100vh;
    transition: transform 0.5s ease ;
    transform:translateX(125%);
}
.main-nav.active{
    transform: translateX(0%);
}


@media (min-width:600px){
    /* to return ul-menu-to the horizontal position */
    .main-nav{
        position: static;
        transform:translateX(0%);
        height:auto;
        width:auto;
        box-shadow: none;
        background-color: transparent;
        display:flex;
        text-align: right;
    }
}

.main-nav-item{
    margin:1rem 0 1rem 1rem;
}
@media (min-width:600px){
    .main-nav-item {
        margin: 0 0 0 1rem;
    }
}
.main-nav-item a{
    color:white;
    text-decoration: none;
}
@media (min-width:600px){
    .main-nav-item a{
        color:black
    }
}
/* .overlay should be lower than .main-nav to be */
.overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:green;
    /* green; */
 
}

